.userProfile {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 2rem;
  margin-block-start: 1rem;
  padding: 2rem;
  border-radius: 6px;
  background: var(--gray-200);
  &__photo {
    border-radius: 50%;
    width: 8.5rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__header {
    align-self: center;
    display: flex;
    justify-content: space-between;
  }
  &__description {
    grid-column-start: 2;
  }
  &__stats {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-radius: 6px;
    background: var(--gray-100);

    grid-column-start: 2;
    span {
      font-size: 1.5rem;
      color: var(--heading-color);
    }
  }
  &__links {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-column-start: 2;
    li {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      svg {
        width: 1.5rem;
      }
    }
  }
}

@media (max-width: 670px) {
  .userProfile {
    &__header {
      flex-direction: column;
      gap: 1rem;
    }
    &__links,
    &__stats,
    &__description {
      grid-column: 1/-1;
    }
  }
}
@media (max-width: 520px) {
  .userProfile__links {
    grid-template-columns: 1fr;
  }
}
